body{
background:#0f172a;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:700px;
padding:30px;
background:#1e293b;
border-radius:20px;
}

h1{
text-align:center;
}

button{
margin-top:15px;
padding:12px 25px;
background:#3b82f6;
border:none;
color:white;
cursor:pointer;
border-radius:10px;
}

#result{
margin-top:25px;
line-height:1.8;
}
